body {
	background-color: #CFCFCF;
	background-image: url('layout/bg.png');
	font: {
		family: $fontStandard;
		size: 100%;
	}
	color: $colorStandard;

	@include mq(large) {
		background-image: url('layout/bg.png');
	}
}

p, ul, ol {
	margin: 0 0 1.25em;

	&:last-child {
		margin: 0;
	}
}

a {
	color: $colorStandard;

	&:hover {
		color: tint($colorStandard, 35%);
	}
}