// CSS wird mit Media Queries gerendert
$renderForIe: false !default;

// weitere globale Variabeln für SASS hier
$colorStandard: #333;
$colorPrimary: #36558A;
$colorSecondary: #83B209;
// $colorLinkBg: lighten($colorPrimary, 15%);
$colorLinkBg: $colorStandard;

$fontStandard: 'Source Sans Pro', sans-serif;