// ****************************
//	BASE
// ****************************
@import "base/globals";         // Variables
@import "base/mixins";          // all Mixins
@import "base/normalize";       // Normalize Framework
@import "base/elements";        // all element selectors e.g. html, body, a, ul etc.

// ****************************
//	LAYOUT
// ****************************
@import "layouts/grid";

.l-page {
	padding: .75em;

	@include mq(large) {
		width: 960px;
		margin: 0 auto;
		padding: 0;
	}
}

header {
	position: relative;
	@include clearfix();

	@include mq(medium) {
		text-align: center;
	}
}

nav {
	@include clearfix();
	margin: 7em 0 0;

	@include mq(medium) {
		margin: 9em 0 0;
	}
}

.l-main {
	margin: 2em 0;
}

.l-extended {
	@include mq(large){
		margin: 0 -3em;
	}
}

.l-highlight {
	padding: .4em 1em;
	background: rgba(255,255,255,.45);

	*:last-child {
		margin: 0;
	}

	@include mq(large) {
		box-shadow: #999 0 0 15px;
	}

}

// ****************************
//	MODULES
// ****************************
@import "modules/navigation";
@import "modules/lens";
@import "modules/abstract";
@import "modules/section-heading";
@import "modules/article";


// ****************************
//	STATES
// ****************************