---
layout: default
title: Home
---

<div class="abstract">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, animi sint soluta non quis obcaecati. Fuga alias ea laboriosam consequatur. Impedit, eius at eos! Officiis ex adipisci autem doloribus quos.
</div>

<h2>Artikel</h2>

<div class="grid-row grid-row-spacer">
	{% for post in site.posts limit:3 %}
		{% if post.is-portfolio == false %}
		<div class="grid grid-4">
			<h3 class="post-heading">
				<a href="{{post.url}}">{{post.title}}</a>
			</h3>
			<p>{{post.excerpt}}</p>
		</div>
		{%endif%}
	{%endfor%}
</div>

<h2>Portfolio</h2>

<div class="grid-row grid-row-spacer">
	{% for post in site.posts limit:3 %}
		{% if post.is-portfolio %}
		<div class="grid grid-4">
			<h3 class="post-heading">
				<a href="{{post.url}}">{{post.title}}</a>
			</h3>
			<p>{{post.excerpt}}</p>
		</div>
		{%endif%}
	{%endfor%}
</div>