<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<!-- favicon.ico und ggf. apple-touch-icon.png in das Hauptverzeichnis -->

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
	<!--[if lte IE 8]>
    	<link rel="stylesheet" href="css/ie.css">
	<![endif]-->
	<script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
	<!--[if lt IE 7]>
		<p class="chromeframe">Sie benutzen einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/">updaten Sie Ihren Browser</a> oder <a href="http://www.google.com/chromeframe/?redirect=true">aktivieren Sie Google Chrome Frame</a> um mehr Spaß mit dieser Seite zu haben.</p>
	<![endif]-->

	<div class="l-page">
		<header>
			<nav>
				<ul class="navigation">
					<li><a href="#" class="item active">Home</a></li>
					<li><a href="#" class="item">Artikel</a></li>
					<li><a href="#" class="lens"></a></li>
					<li><a href="#" class="item">Portfolio</a></li>
					<li><a href="#" class="item">Über mich</a></li>
				</ul>
			</nav>
		</header>

		<div class="l-main">
			<div class="abstract">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, eaque, ea, atque dignissimos fugit consequuntur laudantium tempora officia labore vero quae velit amet iure natus in ipsum dolore tempore non?
			</div>
			<h1>Lorem ipsum dolor sit amet</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, dolorum voluptatem enim ab excepturi porro eius esse impedit explicabo non veniam ut quae repellat praesentium perspiciatis alias adipisci numquam distinctio.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, nemo, reiciendis, maxime qui natus quibusdam laudantium atque numquam cumque modi hic fuga ea. Nam totam cumque aliquid modi ullam dolorem!</p>
			<h2>Lorem ipsum dolor sit amet</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, nemo, reiciendis, maxime qui natus quibusdam laudantium atque numquam cumque modi hic fuga ea. Nam totam cumque aliquid modi ullam dolorem!</p>

			<div class="l-extended l-highlight">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, dignissimos dolorum illum magni molestiae ea repellendus excepturi vitae id quam adipisci cum suscipit modi. Iste hic sapiente deserunt quasi ipsam.</p>
			</div>

			<h2>Lorem ipsum dolor sit amet</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, nemo, reiciendis, maxime qui natus quibusdam laudantium atque numquam cumque modi hic fuga ea. Nam totam cumque aliquid modi ullam dolorem!</p>

		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
	<script src="js/helper.js"></script>
	<script src="js/main.js"></script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<!--script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script-->
</body>
</html>