.navigation {

	margin: 0;
	padding: 0;
	// @include clearfix;

	@include mq(large) {
		display: inline-block;
	}

	& > li {

		@include mq(large){
			float: left;
		}

		& > .item {
			padding: .6em 2em .6em;
			border-bottom: 1px solid tint($colorStandard, 50%);
			display: block;
			color: tint($colorStandard, 50%);
			font: {
				size: 1.25em;
			}
			text: {
				decoration: none;
				transform: uppercase;
				shadow: #fff 0 1px 0;
			}
			@include transition-property(color);
			@include transition-duration(.5s);

			&:hover {
				color: $colorStandard;
			}

			&.active {
				border-bottom: 1px solid $colorStandard;
				color: $colorStandard;
			}

		}
	}
}